<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>All ToDo lists of User</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
    <h2 th:text="${'All ToDo Lists of ' + user.firstName + ' ' + user.lastName}"></h2>
    <form th:action="@{|/todos/create/${user.id}|}" method="get">
        <div align="right">
            <input class="btn-info btn-lg" type="submit" value="Create New ToDo List">
        </div>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Owner</th>
            <th colspan="2">Operations</th>
        </tr>
        <tr th:each="todo, iStat: ${todos}">
            <td th:text="${iStat.index + 1}"/>
            <td th:text="${todo.id}"/>
            <td>
                <a th:href="@{|/todos/${todo.id}/read|}" th:text="${todo.title}"/>
            </td>
            <td th:text="${#temporals.format(todo.createdAt, 'dd.MM.yyyy HH:mm')}"/>
            <td th:text="${todo.getOwner().firstName + ' ' + todo.getOwner().lastName}"></td>
            <span th:if="${#authorization.expression('hasAuthority(''ADMIN'')')
                    or #authorization.expression('hasAuthority(''USER'')') and #authentication.details.id == todo.owner.id}">
                <td>
                    <a th:href="@{|/todos/${todo.id}/update/${todo.owner.id}|}">Edit</a>
                </td>
                <td>
                    <a th:href="@{|/todos/${todo.id}/delete/${todo.owner.id}|}">Remove</a>
                </td>
            </span>
            <span th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')
                    or #authorization.expression('hasAuthority(''USER'')') and #authentication.details.id == todo.owner.id}">
             <td>
                    <a style="color: gray; cursor: pointer"><u>Edit</u></a>
                </td>
                <td>
                    <a style="color: gray; cursor: pointer"><u>Remove</u></a>
                </td>
            </span>
        </tr>
    </table>
</div>
<span sec:authorize="hasAuthority('ADMIN')">
    <div class="col-sm-offset-2 col-sm-8" align="right">
        <a th:href="@{/users/all}">Go to Users List</a>
</div>
</span>
</body>
</html>